.flex-container {
    background-color:salmon;
    color:white;
    padding: 1rem;
    display: flex;
    height: 30rem;
    align-items: stretch;
    align-items:flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: baseline;
}

.flex-item{
font-size: 5em;
background-color:deepskyblue;
border: 3px solid;
&:nth-child(3){
    font-size: 3em;
}
}
