.flex-container {
    background-color:salmon;
    color:white;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    
}

.flex-item{
font-size: 5em;
background-color:deepskyblue;
border: 3px solid;
}
