.card {
    height: 20rem;
    width: 15rem;
    background-color: deepskyblue;
    border: 10px solid #DDD;
    color: white;
    font-size: 3em;
    padding: 1em;
}

$zi:random(5);

@for $i from 1 through 5 {
    .card:nth-child(#{$i}) {
        background-color:rgb(random(255), random(255), random(255));
        position: absolute;
        left: 8rem * ($i - 1);
        top: 5rem * ($i - 1);
        @if ($i == $zi) {
            z-index: $zi;
        }
    }
}

