@charset "UTF-8";
div {
  width: 25%;
  height: 15rem;
  background-color: deepskyblue;
  padding: 1em;
  color: white;
  display: inline-block; }

/**
 Solución 01:
margin-left: -4px; // Posible solución con márgenes
*/
main {
  font-size: 0; }

div {
  font-size: 1rem; }
